.button-1 .fas {
  font-size: 30px;
  background: -webkit-linear-gradient(rgba(35, 249, 253, 1), rgba(93, 112, 255, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-1 .fa-angle-right {
  animation: slide-right 1.25s 0.5s infinite;
}

.button-1 .fa-angle-left {
  animation: slide-left 1.25s 0.5s infinite;
}

@keyframes slide-left {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(-5px);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(5px);
  }
}

.button-1 {
  z-index: 1000 !important;
  position: absolute;
  top: 55%;
  left: 22%;
  width: 200px;
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-1:hover {
  background: rgb(79, 136, 255);
  background: linear-gradient(77deg, rgba(79, 136, 255, 0.50773812943146) 0%, rgba(0, 215, 255, 0.2024160005799195) 100%);
}

.button-1 span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(35, 249, 253, 1), rgba(93, 112, 255, 1));
  animation: animate-1 1.25s linear infinite;
}

.button-1 span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, rgba(35, 249, 253, 1), rgba(93, 112, 255, 1));
  animation: animate-2 1.25s linear infinite;
  animation-delay: 0.625s;
}

.button-1 span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, rgba(35, 249, 253, 1), rgba(93, 112, 255, 1));
  animation: animate-3 1.25s linear infinite;
}

.button-1 span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, rgba(35, 249, 253, 1), rgba(93, 112, 255, 1));
  animation: animate-4 1.25s linear infinite;
  animation-delay: 0.625s;
}

@keyframes animate-1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes animate-2 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes animate-3 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate-4 {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}
