/*title*/
.cover {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-decoration: none;
}

.cover-frame, .cover-bltext, .cover-mtext, .wave {
  position: absolute;
}


.cover-bltext {
  animation: jello-horizontal 3s 0.5s infinite both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.1, 0.95, 1);
  }
  40% {
    transform: scale3d(0.75, 1.1, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.cover-mtext {
  animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}

/* Wave animation */
/*
.cover .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: url("./bg-cover/wave.png");
  background-size: 1000px 150px;
  color: blue;
}

.cover .wave:nth-child(2) {
  animation: wave-left 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.cover .wave:nth-child(3) {
  animation: wave-right 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.cover .wave:nth-child(4) {
  animation: wave-left 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.cover .wave:nth-child(5) {
  animation: wave-right 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes wave-left {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}

@keyframes wave-right {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: -1000px;
  }
}
*/
