span {
  position: absolute;
  color: #fff85c;
  font-size: 5vh; }

@keyframes fly-1 {
  100% {
    transform: translate(64vw, 67vh);
    opacity: 0; } }

@keyframes shine-1 {
  100% {
    opacity: 0; } }
  span:nth-child(1) {
    animation: fly-1 40s infinite linear, shine-1 10s infinite linear;
    animation-delay: -0.2s;
    /* Retardo */
    transform: translate(78vw, 83vh); }

@keyframes fly-2 {
  100% {
    transform: translate(91vw, 69vh);
    opacity: 0; } }

@keyframes shine-2 {
  100% {
    opacity: 0; } }
  span:nth-child(2) {
    animation: fly-2 40s infinite linear, shine-2 10s infinite linear;
    animation-delay: -0.4s;
    /* Retardo */
    transform: translate(6vw, 48vh); }

@keyframes fly-3 {
  100% {
    transform: translate(1vw, 81vh);
    opacity: 0; } }

@keyframes shine-3 {
  100% {
    opacity: 0; } }
  span:nth-child(3) {
    animation: fly-3 40s infinite linear, shine-3 10s infinite linear;
    animation-delay: -0.6s;
    /* Retardo */
    transform: translate(19vw, 89vh); }

@keyframes fly-4 {
  100% {
    transform: translate(90vw, 12vh);
    opacity: 0; } }

@keyframes shine-4 {
  100% {
    opacity: 0; } }
  span:nth-child(4) {
    animation: fly-4 40s infinite linear, shine-4 10s infinite linear;
    animation-delay: -0.8s;
    /* Retardo */
    transform: translate(98vw, 92vh); }

@keyframes fly-5 {
  100% {
    transform: translate(53vw, 86vh);
    opacity: 0; } }

@keyframes shine-5 {
  100% {
    opacity: 0; } }
  span:nth-child(5) {
    animation: fly-5 40s infinite linear, shine-5 10s infinite linear;
    animation-delay: -1s;
    /* Retardo */
    transform: translate(68vw, 42vh); }

@keyframes fly-6 {
  100% {
    transform: translate(90vw, 43vh);
    opacity: 0; } }

@keyframes shine-6 {
  100% {
    opacity: 0; } }
  span:nth-child(6) {
    animation: fly-6 40s infinite linear, shine-6 10s infinite linear;
    animation-delay: -1.2s;
    /* Retardo */
    transform: translate(96vw, 17vh); }

@keyframes fly-7 {
  100% {
    transform: translate(92vw, 35vh);
    opacity: 0; } }

@keyframes shine-7 {
  100% {
    opacity: 0; } }
  span:nth-child(7) {
    animation: fly-7 40s infinite linear, shine-7 10s infinite linear;
    animation-delay: -1.4s;
    /* Retardo */
    transform: translate(19vw, 64vh); }

@keyframes fly-8 {
  100% {
    transform: translate(11vw, 7vh);
    opacity: 0; } }

@keyframes shine-8 {
  100% {
    opacity: 0; } }
  span:nth-child(8) {
    animation: fly-8 40s infinite linear, shine-8 10s infinite linear;
    animation-delay: -1.6s;
    /* Retardo */
    transform: translate(25vw, 50vh); }

@keyframes fly-9 {
  100% {
    transform: translate(84vw, 54vh);
    opacity: 0; } }

@keyframes shine-9 {
  100% {
    opacity: 0; } }
  span:nth-child(9) {
    animation: fly-9 40s infinite linear, shine-9 10s infinite linear;
    animation-delay: -1.8s;
    /* Retardo */
    transform: translate(41vw, 30vh); }

@keyframes fly-10 {
  100% {
    transform: translate(17vw, 65vh);
    opacity: 0; } }

@keyframes shine-10 {
  100% {
    opacity: 0; } }
  span:nth-child(10) {
    animation: fly-10 40s infinite linear, shine-10 10s infinite linear;
    animation-delay: -2s;
    /* Retardo */
    transform: translate(8vw, 62vh); }

@keyframes fly-11 {
  100% {
    transform: translate(66vw, 49vh);
    opacity: 0; } }

@keyframes shine-11 {
  100% {
    opacity: 0; } }
  span:nth-child(11) {
    animation: fly-11 40s infinite linear, shine-11 10s infinite linear;
    animation-delay: -2.2s;
    /* Retardo */
    transform: translate(43vw, 66vh); }

@keyframes fly-12 {
  100% {
    transform: translate(4vw, 48vh);
    opacity: 0; } }

@keyframes shine-12 {
  100% {
    opacity: 0; } }
  span:nth-child(12) {
    animation: fly-12 40s infinite linear, shine-12 10s infinite linear;
    animation-delay: -2.4s;
    /* Retardo */
    transform: translate(42vw, 75vh); }

@keyframes fly-13 {
  100% {
    transform: translate(6vw, 19vh);
    opacity: 0; } }

@keyframes shine-13 {
  100% {
    opacity: 0; } }
  span:nth-child(13) {
    animation: fly-13 40s infinite linear, shine-13 10s infinite linear;
    animation-delay: -2.6s;
    /* Retardo */
    transform: translate(42vw, 51vh); }

@keyframes fly-14 {
  100% {
    transform: translate(76vw, 43vh);
    opacity: 0; } }

@keyframes shine-14 {
  100% {
    opacity: 0; } }
  span:nth-child(14) {
    animation: fly-14 40s infinite linear, shine-14 10s infinite linear;
    animation-delay: -2.8s;
    /* Retardo */
    transform: translate(23vw, 78vh); }

@keyframes fly-15 {
  100% {
    transform: translate(55vw, 13vh);
    opacity: 0; } }

@keyframes shine-15 {
  100% {
    opacity: 0; } }
  span:nth-child(15) {
    animation: fly-15 40s infinite linear, shine-15 10s infinite linear;
    animation-delay: -3s;
    /* Retardo */
    transform: translate(20vw, 88vh); }

@keyframes fly-16 {
  100% {
    transform: translate(47vw, 25vh);
    opacity: 0; } }

@keyframes shine-16 {
  100% {
    opacity: 0; } }
  span:nth-child(16) {
    animation: fly-16 40s infinite linear, shine-16 10s infinite linear;
    animation-delay: -3.2s;
    /* Retardo */
    transform: translate(22vw, 90vh); }

@keyframes fly-17 {
  100% {
    transform: translate(72vw, 71vh);
    opacity: 0; } }

@keyframes shine-17 {
  100% {
    opacity: 0; } }
  span:nth-child(17) {
    animation: fly-17 40s infinite linear, shine-17 10s infinite linear;
    animation-delay: -3.4s;
    /* Retardo */
    transform: translate(33vw, 51vh); }

@keyframes fly-18 {
  100% {
    transform: translate(47vw, 83vh);
    opacity: 0; } }

@keyframes shine-18 {
  100% {
    opacity: 0; } }
  span:nth-child(18) {
    animation: fly-18 40s infinite linear, shine-18 10s infinite linear;
    animation-delay: -3.6s;
    /* Retardo */
    transform: translate(58vw, 1vh); }

@keyframes fly-19 {
  100% {
    transform: translate(49vw, 60vh);
    opacity: 0; } }

@keyframes shine-19 {
  100% {
    opacity: 0; } }
  span:nth-child(19) {
    animation: fly-19 40s infinite linear, shine-19 10s infinite linear;
    animation-delay: -3.8s;
    /* Retardo */
    transform: translate(60vw, 52vh); }

@keyframes fly-20 {
  100% {
    transform: translate(47vw, 9vh);
    opacity: 0; } }

@keyframes shine-20 {
  100% {
    opacity: 0; } }
  span:nth-child(20) {
    animation: fly-20 40s infinite linear, shine-20 10s infinite linear;
    animation-delay: -4s;
    /* Retardo */
    transform: translate(42vw, 34vh); }

@keyframes fly-21 {
  100% {
    transform: translate(44vw, 83vh);
    opacity: 0; } }

@keyframes shine-21 {
  100% {
    opacity: 0; } }
  span:nth-child(21) {
    animation: fly-21 40s infinite linear, shine-21 10s infinite linear;
    animation-delay: -4.2s;
    /* Retardo */
    transform: translate(42vw, 84vh); }

@keyframes fly-22 {
  100% {
    transform: translate(15vw, 18vh);
    opacity: 0; } }

@keyframes shine-22 {
  100% {
    opacity: 0; } }
  span:nth-child(22) {
    animation: fly-22 40s infinite linear, shine-22 10s infinite linear;
    animation-delay: -4.4s;
    /* Retardo */
    transform: translate(22vw, 66vh); }

@keyframes fly-23 {
  100% {
    transform: translate(8vw, 59vh);
    opacity: 0; } }

@keyframes shine-23 {
  100% {
    opacity: 0; } }
  span:nth-child(23) {
    animation: fly-23 40s infinite linear, shine-23 10s infinite linear;
    animation-delay: -4.6s;
    /* Retardo */
    transform: translate(44vw, 48vh); }

@keyframes fly-24 {
  100% {
    transform: translate(6vw, 64vh);
    opacity: 0; } }

@keyframes shine-24 {
  100% {
    opacity: 0; } }
  span:nth-child(24) {
    animation: fly-24 40s infinite linear, shine-24 10s infinite linear;
    animation-delay: -4.8s;
    /* Retardo */
    transform: translate(43vw, 79vh); }

@keyframes fly-25 {
  100% {
    transform: translate(84vw, 28vh);
    opacity: 0; } }

@keyframes shine-25 {
  100% {
    opacity: 0; } }
  span:nth-child(25) {
    animation: fly-25 40s infinite linear, shine-25 10s infinite linear;
    animation-delay: -5s;
    /* Retardo */
    transform: translate(18vw, 21vh); }

@keyframes fly-26 {
  100% {
    transform: translate(33vw, 70vh);
    opacity: 0; } }

@keyframes shine-26 {
  100% {
    opacity: 0; } }
  span:nth-child(26) {
    animation: fly-26 40s infinite linear, shine-26 10s infinite linear;
    animation-delay: -5.2s;
    /* Retardo */
    transform: translate(59vw, 34vh); }

@keyframes fly-27 {
  100% {
    transform: translate(42vw, 33vh);
    opacity: 0; } }

@keyframes shine-27 {
  100% {
    opacity: 0; } }
  span:nth-child(27) {
    animation: fly-27 40s infinite linear, shine-27 10s infinite linear;
    animation-delay: -5.4s;
    /* Retardo */
    transform: translate(77vw, 6vh); }

@keyframes fly-28 {
  100% {
    transform: translate(32vw, 52vh);
    opacity: 0; } }

@keyframes shine-28 {
  100% {
    opacity: 0; } }
  span:nth-child(28) {
    animation: fly-28 40s infinite linear, shine-28 10s infinite linear;
    animation-delay: -5.6s;
    /* Retardo */
    transform: translate(43vw, 33vh); }

@keyframes fly-29 {
  100% {
    transform: translate(51vw, 78vh);
    opacity: 0; } }

@keyframes shine-29 {
  100% {
    opacity: 0; } }
  span:nth-child(29) {
    animation: fly-29 40s infinite linear, shine-29 10s infinite linear;
    animation-delay: -5.8s;
    /* Retardo */
    transform: translate(98vw, 97vh); }

@keyframes fly-30 {
  100% {
    transform: translate(52vw, 92vh);
    opacity: 0; } }

@keyframes shine-30 {
  100% {
    opacity: 0; } }
  span:nth-child(30) {
    animation: fly-30 40s infinite linear, shine-30 10s infinite linear;
    animation-delay: -6s;
    /* Retardo */
    transform: translate(81vw, 38vh); }

@keyframes fly-31 {
  100% {
    transform: translate(9vw, 24vh);
    opacity: 0; } }

@keyframes shine-31 {
  100% {
    opacity: 0; } }
  span:nth-child(31) {
    animation: fly-31 40s infinite linear, shine-31 10s infinite linear;
    animation-delay: -6.2s;
    /* Retardo */
    transform: translate(6vw, 23vh); }

@keyframes fly-32 {
  100% {
    transform: translate(19vw, 65vh);
    opacity: 0; } }

@keyframes shine-32 {
  100% {
    opacity: 0; } }
  span:nth-child(32) {
    animation: fly-32 40s infinite linear, shine-32 10s infinite linear;
    animation-delay: -6.4s;
    /* Retardo */
    transform: translate(85vw, 55vh); }

@keyframes fly-33 {
  100% {
    transform: translate(47vw, 41vh);
    opacity: 0; } }

@keyframes shine-33 {
  100% {
    opacity: 0; } }
  span:nth-child(33) {
    animation: fly-33 40s infinite linear, shine-33 10s infinite linear;
    animation-delay: -6.6s;
    /* Retardo */
    transform: translate(11vw, 2vh); }

@keyframes fly-34 {
  100% {
    transform: translate(91vw, 76vh);
    opacity: 0; } }

@keyframes shine-34 {
  100% {
    opacity: 0; } }
  span:nth-child(34) {
    animation: fly-34 40s infinite linear, shine-34 10s infinite linear;
    animation-delay: -6.8s;
    /* Retardo */
    transform: translate(78vw, 9vh); }

@keyframes fly-35 {
  100% {
    transform: translate(93vw, 9vh);
    opacity: 0; } }

@keyframes shine-35 {
  100% {
    opacity: 0; } }
  span:nth-child(35) {
    animation: fly-35 40s infinite linear, shine-35 10s infinite linear;
    animation-delay: -7s;
    /* Retardo */
    transform: translate(36vw, 86vh); }

@keyframes fly-36 {
  100% {
    transform: translate(87vw, 61vh);
    opacity: 0; } }

@keyframes shine-36 {
  100% {
    opacity: 0; } }
  span:nth-child(36) {
    animation: fly-36 40s infinite linear, shine-36 10s infinite linear;
    animation-delay: -7.2s;
    /* Retardo */
    transform: translate(10vw, 20vh); }

@keyframes fly-37 {
  100% {
    transform: translate(2vw, 58vh);
    opacity: 0; } }

@keyframes shine-37 {
  100% {
    opacity: 0; } }
  span:nth-child(37) {
    animation: fly-37 40s infinite linear, shine-37 10s infinite linear;
    animation-delay: -7.4s;
    /* Retardo */
    transform: translate(80vw, 94vh); }

@keyframes fly-38 {
  100% {
    transform: translate(5vw, 54vh);
    opacity: 0; } }

@keyframes shine-38 {
  100% {
    opacity: 0; } }
  span:nth-child(38) {
    animation: fly-38 40s infinite linear, shine-38 10s infinite linear;
    animation-delay: -7.6s;
    /* Retardo */
    transform: translate(24vw, 13vh); }

@keyframes fly-39 {
  100% {
    transform: translate(86vw, 97vh);
    opacity: 0; } }

@keyframes shine-39 {
  100% {
    opacity: 0; } }
  span:nth-child(39) {
    animation: fly-39 40s infinite linear, shine-39 10s infinite linear;
    animation-delay: -7.8s;
    /* Retardo */
    transform: translate(39vw, 87vh); }

@keyframes fly-40 {
  100% {
    transform: translate(17vw, 44vh);
    opacity: 0; } }

@keyframes shine-40 {
  100% {
    opacity: 0; } }
  span:nth-child(40) {
    animation: fly-40 40s infinite linear, shine-40 10s infinite linear;
    animation-delay: -8s;
    /* Retardo */
    transform: translate(49vw, 69vh); }

@keyframes fly-41 {
  100% {
    transform: translate(4vw, 44vh);
    opacity: 0; } }

@keyframes shine-41 {
  100% {
    opacity: 0; } }
  span:nth-child(41) {
    animation: fly-41 40s infinite linear, shine-41 10s infinite linear;
    animation-delay: -8.2s;
    /* Retardo */
    transform: translate(9vw, 36vh); }

@keyframes fly-42 {
  100% {
    transform: translate(71vw, 19vh);
    opacity: 0; } }

@keyframes shine-42 {
  100% {
    opacity: 0; } }
  span:nth-child(42) {
    animation: fly-42 40s infinite linear, shine-42 10s infinite linear;
    animation-delay: -8.4s;
    /* Retardo */
    transform: translate(57vw, 9vh); }

@keyframes fly-43 {
  100% {
    transform: translate(56vw, 94vh);
    opacity: 0; } }

@keyframes shine-43 {
  100% {
    opacity: 0; } }
  span:nth-child(43) {
    animation: fly-43 40s infinite linear, shine-43 10s infinite linear;
    animation-delay: -8.6s;
    /* Retardo */
    transform: translate(96vw, 24vh); }

@keyframes fly-44 {
  100% {
    transform: translate(70vw, 43vh);
    opacity: 0; } }

@keyframes shine-44 {
  100% {
    opacity: 0; } }
  span:nth-child(44) {
    animation: fly-44 40s infinite linear, shine-44 10s infinite linear;
    animation-delay: -8.8s;
    /* Retardo */
    transform: translate(96vw, 45vh); }

@keyframes fly-45 {
  100% {
    transform: translate(35vw, 2vh);
    opacity: 0; } }

@keyframes shine-45 {
  100% {
    opacity: 0; } }
  span:nth-child(45) {
    animation: fly-45 40s infinite linear, shine-45 10s infinite linear;
    animation-delay: -9s;
    /* Retardo */
    transform: translate(11vw, 59vh); }

@keyframes fly-46 {
  100% {
    transform: translate(85vw, 40vh);
    opacity: 0; } }

@keyframes shine-46 {
  100% {
    opacity: 0; } }
  span:nth-child(46) {
    animation: fly-46 40s infinite linear, shine-46 10s infinite linear;
    animation-delay: -9.2s;
    /* Retardo */
    transform: translate(86vw, 38vh); }

@keyframes fly-47 {
  100% {
    transform: translate(77vw, 83vh);
    opacity: 0; } }

@keyframes shine-47 {
  100% {
    opacity: 0; } }
  span:nth-child(47) {
    animation: fly-47 40s infinite linear, shine-47 10s infinite linear;
    animation-delay: -9.4s;
    /* Retardo */
    transform: translate(42vw, 35vh); }

@keyframes fly-48 {
  100% {
    transform: translate(6vw, 7vh);
    opacity: 0; } }

@keyframes shine-48 {
  100% {
    opacity: 0; } }
  span:nth-child(48) {
    animation: fly-48 40s infinite linear, shine-48 10s infinite linear;
    animation-delay: -9.6s;
    /* Retardo */
    transform: translate(59vw, 97vh); }

@keyframes fly-49 {
  100% {
    transform: translate(9vw, 16vh);
    opacity: 0; } }

@keyframes shine-49 {
  100% {
    opacity: 0; } }
  span:nth-child(49) {
    animation: fly-49 40s infinite linear, shine-49 10s infinite linear;
    animation-delay: -9.8s;
    /* Retardo */
    transform: translate(58vw, 9vh); }

@keyframes fly-50 {
  100% {
    transform: translate(13vw, 70vh);
    opacity: 0; } }

@keyframes shine-50 {
  100% {
    opacity: 0; } }
  span:nth-child(50) {
    animation: fly-50 40s infinite linear, shine-50 10s infinite linear;
    animation-delay: -10s;
    /* Retardo */
    transform: translate(51vw, 46vh); }

@keyframes fly-51 {
  100% {
    transform: translate(58vw, 46vh);
    opacity: 0; } }

@keyframes shine-51 {
  100% {
    opacity: 0; } }
  span:nth-child(51) {
    animation: fly-51 40s infinite linear, shine-51 10s infinite linear;
    animation-delay: -10.2s;
    /* Retardo */
    transform: translate(90vw, 52vh); }

@keyframes fly-52 {
  100% {
    transform: translate(58vw, 73vh);
    opacity: 0; } }

@keyframes shine-52 {
  100% {
    opacity: 0; } }
  span:nth-child(52) {
    animation: fly-52 40s infinite linear, shine-52 10s infinite linear;
    animation-delay: -10.4s;
    /* Retardo */
    transform: translate(74vw, 45vh); }

@keyframes fly-53 {
  100% {
    transform: translate(78vw, 95vh);
    opacity: 0; } }

@keyframes shine-53 {
  100% {
    opacity: 0; } }
  span:nth-child(53) {
    animation: fly-53 40s infinite linear, shine-53 10s infinite linear;
    animation-delay: -10.6s;
    /* Retardo */
    transform: translate(4vw, 69vh); }

@keyframes fly-54 {
  100% {
    transform: translate(84vw, 11vh);
    opacity: 0; } }

@keyframes shine-54 {
  100% {
    opacity: 0; } }
  span:nth-child(54) {
    animation: fly-54 40s infinite linear, shine-54 10s infinite linear;
    animation-delay: -10.8s;
    /* Retardo */
    transform: translate(55vw, 92vh); }

@keyframes fly-55 {
  100% {
    transform: translate(93vw, 85vh);
    opacity: 0; } }

@keyframes shine-55 {
  100% {
    opacity: 0; } }
  span:nth-child(55) {
    animation: fly-55 40s infinite linear, shine-55 10s infinite linear;
    animation-delay: -11s;
    /* Retardo */
    transform: translate(41vw, 39vh); }

@keyframes fly-56 {
  100% {
    transform: translate(34vw, 26vh);
    opacity: 0; } }

@keyframes shine-56 {
  100% {
    opacity: 0; } }
  span:nth-child(56) {
    animation: fly-56 40s infinite linear, shine-56 10s infinite linear;
    animation-delay: -11.2s;
    /* Retardo */
    transform: translate(52vw, 3vh); }

@keyframes fly-57 {
  100% {
    transform: translate(90vw, 63vh);
    opacity: 0; } }

@keyframes shine-57 {
  100% {
    opacity: 0; } }
  span:nth-child(57) {
    animation: fly-57 40s infinite linear, shine-57 10s infinite linear;
    animation-delay: -11.4s;
    /* Retardo */
    transform: translate(2vw, 57vh); }

@keyframes fly-58 {
  100% {
    transform: translate(78vw, 59vh);
    opacity: 0; } }

@keyframes shine-58 {
  100% {
    opacity: 0; } }
  span:nth-child(58) {
    animation: fly-58 40s infinite linear, shine-58 10s infinite linear;
    animation-delay: -11.6s;
    /* Retardo */
    transform: translate(4vw, 83vh); }

@keyframes fly-59 {
  100% {
    transform: translate(82vw, 7vh);
    opacity: 0; } }

@keyframes shine-59 {
  100% {
    opacity: 0; } }
  span:nth-child(59) {
    animation: fly-59 40s infinite linear, shine-59 10s infinite linear;
    animation-delay: -11.8s;
    /* Retardo */
    transform: translate(45vw, 83vh); }

@keyframes fly-60 {
  100% {
    transform: translate(48vw, 33vh);
    opacity: 0; } }

@keyframes shine-60 {
  100% {
    opacity: 0; } }
  span:nth-child(60) {
    animation: fly-60 40s infinite linear, shine-60 10s infinite linear;
    animation-delay: -12s;
    /* Retardo */
    transform: translate(17vw, 6vh); }

@keyframes fly-61 {
  100% {
    transform: translate(24vw, 67vh);
    opacity: 0; } }

@keyframes shine-61 {
  100% {
    opacity: 0; } }
  span:nth-child(61) {
    animation: fly-61 40s infinite linear, shine-61 10s infinite linear;
    animation-delay: -12.2s;
    /* Retardo */
    transform: translate(67vw, 65vh); }

@keyframes fly-62 {
  100% {
    transform: translate(41vw, 85vh);
    opacity: 0; } }

@keyframes shine-62 {
  100% {
    opacity: 0; } }
  span:nth-child(62) {
    animation: fly-62 40s infinite linear, shine-62 10s infinite linear;
    animation-delay: -12.4s;
    /* Retardo */
    transform: translate(92vw, 40vh); }

@keyframes fly-63 {
  100% {
    transform: translate(14vw, 63vh);
    opacity: 0; } }

@keyframes shine-63 {
  100% {
    opacity: 0; } }
  span:nth-child(63) {
    animation: fly-63 40s infinite linear, shine-63 10s infinite linear;
    animation-delay: -12.6s;
    /* Retardo */
    transform: translate(78vw, 3vh); }

@keyframes fly-64 {
  100% {
    transform: translate(4vw, 46vh);
    opacity: 0; } }

@keyframes shine-64 {
  100% {
    opacity: 0; } }
  span:nth-child(64) {
    animation: fly-64 40s infinite linear, shine-64 10s infinite linear;
    animation-delay: -12.8s;
    /* Retardo */
    transform: translate(73vw, 7vh); }

@keyframes fly-65 {
  100% {
    transform: translate(29vw, 7vh);
    opacity: 0; } }

@keyframes shine-65 {
  100% {
    opacity: 0; } }
  span:nth-child(65) {
    animation: fly-65 40s infinite linear, shine-65 10s infinite linear;
    animation-delay: -13s;
    /* Retardo */
    transform: translate(87vw, 76vh); }

@keyframes fly-66 {
  100% {
    transform: translate(47vw, 92vh);
    opacity: 0; } }

@keyframes shine-66 {
  100% {
    opacity: 0; } }
  span:nth-child(66) {
    animation: fly-66 40s infinite linear, shine-66 10s infinite linear;
    animation-delay: -13.2s;
    /* Retardo */
    transform: translate(17vw, 57vh); }

@keyframes fly-67 {
  100% {
    transform: translate(1vw, 6vh);
    opacity: 0; } }

@keyframes shine-67 {
  100% {
    opacity: 0; } }
  span:nth-child(67) {
    animation: fly-67 40s infinite linear, shine-67 10s infinite linear;
    animation-delay: -13.4s;
    /* Retardo */
    transform: translate(15vw, 42vh); }

@keyframes fly-68 {
  100% {
    transform: translate(86vw, 85vh);
    opacity: 0; } }

@keyframes shine-68 {
  100% {
    opacity: 0; } }
  span:nth-child(68) {
    animation: fly-68 40s infinite linear, shine-68 10s infinite linear;
    animation-delay: -13.6s;
    /* Retardo */
    transform: translate(95vw, 25vh); }

@keyframes fly-69 {
  100% {
    transform: translate(58vw, 7vh);
    opacity: 0; } }

@keyframes shine-69 {
  100% {
    opacity: 0; } }
  span:nth-child(69) {
    animation: fly-69 40s infinite linear, shine-69 10s infinite linear;
    animation-delay: -13.8s;
    /* Retardo */
    transform: translate(17vw, 80vh); }

@keyframes fly-70 {
  100% {
    transform: translate(13vw, 1vh);
    opacity: 0; } }

@keyframes shine-70 {
  100% {
    opacity: 0; } }
  span:nth-child(70) {
    animation: fly-70 40s infinite linear, shine-70 10s infinite linear;
    animation-delay: -14s;
    /* Retardo */
    transform: translate(76vw, 73vh); }

@keyframes fly-71 {
  100% {
    transform: translate(37vw, 12vh);
    opacity: 0; } }

@keyframes shine-71 {
  100% {
    opacity: 0; } }
  span:nth-child(71) {
    animation: fly-71 40s infinite linear, shine-71 10s infinite linear;
    animation-delay: -14.2s;
    /* Retardo */
    transform: translate(79vw, 22vh); }

@keyframes fly-72 {
  100% {
    transform: translate(28vw, 61vh);
    opacity: 0; } }

@keyframes shine-72 {
  100% {
    opacity: 0; } }
  span:nth-child(72) {
    animation: fly-72 40s infinite linear, shine-72 10s infinite linear;
    animation-delay: -14.4s;
    /* Retardo */
    transform: translate(1vw, 22vh); }

@keyframes fly-73 {
  100% {
    transform: translate(48vw, 69vh);
    opacity: 0; } }

@keyframes shine-73 {
  100% {
    opacity: 0; } }
  span:nth-child(73) {
    animation: fly-73 40s infinite linear, shine-73 10s infinite linear;
    animation-delay: -14.6s;
    /* Retardo */
    transform: translate(36vw, 60vh); }

@keyframes fly-74 {
  100% {
    transform: translate(30vw, 76vh);
    opacity: 0; } }

@keyframes shine-74 {
  100% {
    opacity: 0; } }
  span:nth-child(74) {
    animation: fly-74 40s infinite linear, shine-74 10s infinite linear;
    animation-delay: -14.8s;
    /* Retardo */
    transform: translate(22vw, 72vh); }

@keyframes fly-75 {
  100% {
    transform: translate(63vw, 89vh);
    opacity: 0; } }

@keyframes shine-75 {
  100% {
    opacity: 0; } }
  span:nth-child(75) {
    animation: fly-75 40s infinite linear, shine-75 10s infinite linear;
    animation-delay: -15s;
    /* Retardo */
    transform: translate(40vw, 63vh); }

@keyframes fly-76 {
  100% {
    transform: translate(69vw, 88vh);
    opacity: 0; } }

@keyframes shine-76 {
  100% {
    opacity: 0; } }
  span:nth-child(76) {
    animation: fly-76 40s infinite linear, shine-76 10s infinite linear;
    animation-delay: -15.2s;
    /* Retardo */
    transform: translate(18vw, 65vh); }

@keyframes fly-77 {
  100% {
    transform: translate(12vw, 17vh);
    opacity: 0; } }

@keyframes shine-77 {
  100% {
    opacity: 0; } }
  span:nth-child(77) {
    animation: fly-77 40s infinite linear, shine-77 10s infinite linear;
    animation-delay: -15.4s;
    /* Retardo */
    transform: translate(71vw, 62vh); }

@keyframes fly-78 {
  100% {
    transform: translate(66vw, 47vh);
    opacity: 0; } }

@keyframes shine-78 {
  100% {
    opacity: 0; } }
  span:nth-child(78) {
    animation: fly-78 40s infinite linear, shine-78 10s infinite linear;
    animation-delay: -15.6s;
    /* Retardo */
    transform: translate(26vw, 82vh); }

@keyframes fly-79 {
  100% {
    transform: translate(25vw, 5vh);
    opacity: 0; } }

@keyframes shine-79 {
  100% {
    opacity: 0; } }
  span:nth-child(79) {
    animation: fly-79 40s infinite linear, shine-79 10s infinite linear;
    animation-delay: -15.8s;
    /* Retardo */
    transform: translate(98vw, 66vh); }

@keyframes fly-80 {
  100% {
    transform: translate(17vw, 27vh);
    opacity: 0; } }

@keyframes shine-80 {
  100% {
    opacity: 0; } }
  span:nth-child(80) {
    animation: fly-80 40s infinite linear, shine-80 10s infinite linear;
    animation-delay: -16s;
    /* Retardo */
    transform: translate(21vw, 18vh); }

@keyframes fly-81 {
  100% {
    transform: translate(43vw, 41vh);
    opacity: 0; } }

@keyframes shine-81 {
  100% {
    opacity: 0; } }
  span:nth-child(81) {
    animation: fly-81 40s infinite linear, shine-81 10s infinite linear;
    animation-delay: -16.2s;
    /* Retardo */
    transform: translate(21vw, 44vh); }

@keyframes fly-82 {
  100% {
    transform: translate(18vw, 84vh);
    opacity: 0; } }

@keyframes shine-82 {
  100% {
    opacity: 0; } }
  span:nth-child(82) {
    animation: fly-82 40s infinite linear, shine-82 10s infinite linear;
    animation-delay: -16.4s;
    /* Retardo */
    transform: translate(72vw, 3vh); }

@keyframes fly-83 {
  100% {
    transform: translate(3vw, 76vh);
    opacity: 0; } }

@keyframes shine-83 {
  100% {
    opacity: 0; } }
  span:nth-child(83) {
    animation: fly-83 40s infinite linear, shine-83 10s infinite linear;
    animation-delay: -16.6s;
    /* Retardo */
    transform: translate(11vw, 73vh); }

@keyframes fly-84 {
  100% {
    transform: translate(32vw, 99vh);
    opacity: 0; } }

@keyframes shine-84 {
  100% {
    opacity: 0; } }
  span:nth-child(84) {
    animation: fly-84 40s infinite linear, shine-84 10s infinite linear;
    animation-delay: -16.8s;
    /* Retardo */
    transform: translate(84vw, 34vh); }

@keyframes fly-85 {
  100% {
    transform: translate(4vw, 18vh);
    opacity: 0; } }

@keyframes shine-85 {
  100% {
    opacity: 0; } }
  span:nth-child(85) {
    animation: fly-85 40s infinite linear, shine-85 10s infinite linear;
    animation-delay: -17s;
    /* Retardo */
    transform: translate(3vw, 71vh); }

@keyframes fly-86 {
  100% {
    transform: translate(26vw, 57vh);
    opacity: 0; } }

@keyframes shine-86 {
  100% {
    opacity: 0; } }
  span:nth-child(86) {
    animation: fly-86 40s infinite linear, shine-86 10s infinite linear;
    animation-delay: -17.2s;
    /* Retardo */
    transform: translate(50vw, 94vh); }

@keyframes fly-87 {
  100% {
    transform: translate(35vw, 23vh);
    opacity: 0; } }

@keyframes shine-87 {
  100% {
    opacity: 0; } }
  span:nth-child(87) {
    animation: fly-87 40s infinite linear, shine-87 10s infinite linear;
    animation-delay: -17.4s;
    /* Retardo */
    transform: translate(24vw, 58vh); }

@keyframes fly-88 {
  100% {
    transform: translate(82vw, 37vh);
    opacity: 0; } }

@keyframes shine-88 {
  100% {
    opacity: 0; } }
  span:nth-child(88) {
    animation: fly-88 40s infinite linear, shine-88 10s infinite linear;
    animation-delay: -17.6s;
    /* Retardo */
    transform: translate(22vw, 94vh); }

@keyframes fly-89 {
  100% {
    transform: translate(19vw, 42vh);
    opacity: 0; } }

@keyframes shine-89 {
  100% {
    opacity: 0; } }
  span:nth-child(89) {
    animation: fly-89 40s infinite linear, shine-89 10s infinite linear;
    animation-delay: -17.8s;
    /* Retardo */
    transform: translate(18vw, 57vh); }

@keyframes fly-90 {
  100% {
    transform: translate(12vw, 89vh);
    opacity: 0; } }

@keyframes shine-90 {
  100% {
    opacity: 0; } }
  span:nth-child(90) {
    animation: fly-90 40s infinite linear, shine-90 10s infinite linear;
    animation-delay: -18s;
    /* Retardo */
    transform: translate(29vw, 33vh); }

@keyframes fly-91 {
  100% {
    transform: translate(99vw, 85vh);
    opacity: 0; } }

@keyframes shine-91 {
  100% {
    opacity: 0; } }
  span:nth-child(91) {
    animation: fly-91 40s infinite linear, shine-91 10s infinite linear;
    animation-delay: -18.2s;
    /* Retardo */
    transform: translate(29vw, 9vh); }

@keyframes fly-92 {
  100% {
    transform: translate(81vw, 31vh);
    opacity: 0; } }

@keyframes shine-92 {
  100% {
    opacity: 0; } }
  span:nth-child(92) {
    animation: fly-92 40s infinite linear, shine-92 10s infinite linear;
    animation-delay: -18.4s;
    /* Retardo */
    transform: translate(26vw, 16vh); }

@keyframes fly-93 {
  100% {
    transform: translate(50vw, 97vh);
    opacity: 0; } }

@keyframes shine-93 {
  100% {
    opacity: 0; } }
  span:nth-child(93) {
    animation: fly-93 40s infinite linear, shine-93 10s infinite linear;
    animation-delay: -18.6s;
    /* Retardo */
    transform: translate(47vw, 76vh); }

@keyframes fly-94 {
  100% {
    transform: translate(91vw, 49vh);
    opacity: 0; } }

@keyframes shine-94 {
  100% {
    opacity: 0; } }
  span:nth-child(94) {
    animation: fly-94 40s infinite linear, shine-94 10s infinite linear;
    animation-delay: -18.8s;
    /* Retardo */
    transform: translate(84vw, 97vh); }

@keyframes fly-95 {
  100% {
    transform: translate(35vw, 84vh);
    opacity: 0; } }

@keyframes shine-95 {
  100% {
    opacity: 0; } }
  span:nth-child(95) {
    animation: fly-95 40s infinite linear, shine-95 10s infinite linear;
    animation-delay: -19s;
    /* Retardo */
    transform: translate(98vw, 51vh); }

@keyframes fly-96 {
  100% {
    transform: translate(88vw, 46vh);
    opacity: 0; } }

@keyframes shine-96 {
  100% {
    opacity: 0; } }
  span:nth-child(96) {
    animation: fly-96 40s infinite linear, shine-96 10s infinite linear;
    animation-delay: -19.2s;
    /* Retardo */
    transform: translate(2vw, 95vh); }

@keyframes fly-97 {
  100% {
    transform: translate(3vw, 16vh);
    opacity: 0; } }

@keyframes shine-97 {
  100% {
    opacity: 0; } }
  span:nth-child(97) {
    animation: fly-97 40s infinite linear, shine-97 10s infinite linear;
    animation-delay: -19.4s;
    /* Retardo */
    transform: translate(77vw, 16vh); }

@keyframes fly-98 {
  100% {
    transform: translate(16vw, 86vh);
    opacity: 0; } }

@keyframes shine-98 {
  100% {
    opacity: 0; } }
  span:nth-child(98) {
    animation: fly-98 40s infinite linear, shine-98 10s infinite linear;
    animation-delay: -19.6s;
    /* Retardo */
    transform: translate(13vw, 1vh); }

@keyframes fly-99 {
  100% {
    transform: translate(84vw, 89vh);
    opacity: 0; } }

@keyframes shine-99 {
  100% {
    opacity: 0; } }
  span:nth-child(99) {
    animation: fly-99 40s infinite linear, shine-99 10s infinite linear;
    animation-delay: -19.8s;
    /* Retardo */
    transform: translate(97vw, 30vh); }

@keyframes fly-100 {
  100% {
    transform: translate(45vw, 60vh);
    opacity: 0; } }

@keyframes shine-100 {
  100% {
    opacity: 0; } }
  span:nth-child(100) {
    animation: fly-100 40s infinite linear, shine-100 10s infinite linear;
    animation-delay: -20s;
    /* Retardo */
    transform: translate(15vw, 78vh); }
