$firefly: #FFDE3A;
span {
  position: absolute;
  color: $firefly;
  font-size: 5vh;
  @for $dot from 1 through 100 {
    @keyframes fly-#{$dot} {
      100% {
        transform: translate(random(100) * 1vw, random(100) * 1vh); // x = 1/100 weight screen, y = 1/100 height screen
        opacity: 0;
      }
    }
    @keyframes shine-#{$dot} {
      100% { opacity: 0; }
    }
    &:nth-child(#{$dot}) {
      animation: fly-#{$dot} 40s infinite linear,
                 shine-#{$dot} 10s infinite linear;
      animation-delay: -$dot * .2s; /* Retardo */
      transform: translate(random(100) * 1vw, random(100) * 1vh);
    }
  }
}
